div#CookieLawPrompt {position: fixed; top: 0; z-index: 999; box-sizing: border-box; width: 100%; margin: 0; padding: 15px 5%; background-color: rgba(0, 0, 0, 0.75)}
div#CookieLawPrompt p {margin: 0; padding: 0; font-family: sans-serif; font-size: 14px; text-align: center; line-height: 1.2; color: #FFF}
div#CookieLawPrompt a {color: #ddd; text-decoration: none; text-shadow: 0 0 2px #000}
div#CookieLawPrompt a:hover {color: #fff; text-decoration: underline}
div#CookieLawPrompt .button-accept,
div#CookieLawPrompt .button-reject {display: inline-block; margin: 3px 0 3px 15px; padding: 3px 12px; border-radius: 2px; font-size: 12px}
div#CookieLawPrompt .button-accept {background-color: #3c3; color: #fff}
div#CookieLawPrompt .button-reject {background-color: #d00; color: #fff}
div#CookieLawPrompt .button-accept:hover {background-color: #4d4; text-decoration: none}
div#CookieLawPrompt .button-reject:hover {background-color: #e00; text-decoration: none}
